<a href="https://colab.research.google.com/github/shubhangilore/fds/blob/main/Fds_lab_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Mounting Google Drive
%cd ..
from google.colab import drive
drive.mount('/content/gdrive')

/
Mounted at /content/gdrive

In [7]:
products=pd.read_csv('/content/drive/MyDrive/products.csv')

In [8]:
products['CostPrice'].mean()

94.2

In [9]:
products.head()

  ï»¿ProductId  CostPrice  SellingPrice
0           AA         60           135
1           BB         43           121
2           CC         78           150
3           DD         65           121
4           EE         50           132

In [13]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [14]:
#Genarting random weights
weights=[i for i in range(10,20)]
#Calculate weighted average
np.average(products['CostPrice'],weights=weights)

99.6896551724138

In [12]:
 
stats.trim_mean(products['CostPrice'],0.1)

93.625